.focused_forum_container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forum_title {
  font-size: 24px;
  font-weight: bold;
}

.buttons-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.sideBarNav {
  display: flex;
  flex-direction: column;
  width: 15%;
  border-left: dashed;
  padding: 4% 0 4% 0;
  align-items: center;
}

.btns {
  margin-right: 15%;
}

.question_list:last-child {
  border-bottom: #000000 1px dashed;
}
