.emails-list-card {
  width: 60%;
  display: flex;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-icon {
  margin: 3% 1% 1% auto;
}