.forum {
  display: flex;
  flex-direction: row;
  border-top: #000000 1px dashed;
  padding: 15px 0;
}

.forumStats {
  color: #bbbbbb;
  text-align: center;
  width: 10%;
}

.forum_mid {
  width: 60%;
}

.forumTitle {
  color: cornflowerblue;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.forumDescription {
  color: #333333;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.lastActivity {
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

.forum_creator {
  color: red;
}

.forum_meta {
  color: #bbbbbb;
}

.forum_type {
  margin-left: 6px;
  display: inline-block;
}